<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SKRYMHEAD</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
	<style>
		#logo {
			margin-right: 5px;
		}

		body {
			background-color: black;
		}
	</style>
</head>

<body>

	<nav class=" navbar navbar-expand-lg bg-dark">
		<a class="text-white navbar-brand" href="" style="padding-left: 15px; font-family: 'Lucida Sans'">
			<span>
				<h4><img src="/LOGO.png" id="logo" height="30px" alt="Logo"><strong>SKRYMHEAD</strong></h4>
			</span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" style="padding-right: 15px; margin-right: 10px;"
			id="navbarSupportedContent">
			<ul class="navbar-nav navbar-light ms-auto ">
				<li class="nav-item ">
					<a href="/admin/dashboard" class="m-2" style="text-decoration: none; ">Dashboard
					</a>

				</li>
				<li class="nav-item ">
					<a href="/admin/products" class="m-2" style="text-decoration: none; ">Product</a>

				</li>
				<li class="nav-item active">
					<a href="/admin/category" class="m-2" style="text-decoration: none; ">Category
					</a>

				</li>
				<li class="nav-item">
					<a href="/admin/users" class="m-2" style="text-decoration: none; ">Users
					</a>

				</li>
				<li class="nav-item">
					<a href="/admin/orders" class="m-2" style="text-decoration: none; ">Orders</a>
				</li>
				<li class="nav-item">
					<a href="/admin/logout" class="m-2" style="text-decoration: none; ">logout
					</a>

				</li>
			</ul>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="m-3 mb-0 d-flex justify-content-between">
			<div class="">
				<h1 class="text-white">Categories</h1>
			</div>
			<div class="">
				<a href="/admin/addcategory" style="text-decoration: none;">Add Category</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="mt-1 px-5 text-center col-md-12">
			<table class="table rounded table-dark" id="categoryTable">
				<thead class="table-light " style="font-family: Arial, Helvetica, sans-serif;" >
					<tr>
						<th scope="col">Category Name</th>
						<th scope="col">Action</th>
						<th scope="col" class="">Offer</th>
						<th scope="col" class="">Edit</th>
					</tr>
				</thead>
				<tbody style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
					<% categories.forEach((category)=>{ %>
						<tr>

							<td>
								<%= category.category %>
							</td>
							<td>
								<% if(category.listed){ %>
									<button class="btn btn-danger toggle-button" style="width: 6rem;"
										data-id="<%= category._id %>">Unlist</button>
									<% }else{ %>
										<button class="btn btn-success toggle-button" style="width: 6rem;"
											data-id="<%= category._id %>">List</button>
									<% } %>
							</td>
							<td><%= category.offer ? category.offer+"%" : "" %></td>
							<td><a href="/admin/editcategory?id=<%= category._id %>">Edit</a></td>
						</tr>
						<% }) %>
				</tbody>

			</table>
		</div>
	</div>

	<!-- nav0 -->

	<script>
		$(document).ready(function () {
				new DataTable('#categoryTable', {
					"lengthMenu": [ 10, 20, 50],
					"pageLength": 10
				});
		});
		const togglebtn = document.querySelectorAll(".toggle-button");

		togglebtn.forEach((button) => {
			button.addEventListener("click", async () => {
				const id = button.getAttribute('data-id');
				const response = await fetch(`/admin/category/toggle/${id}`, {
					method: "PUT",
				})

				if (response.ok) {
					const result = await response.json();
					const updatedCategory = result.category;
					
					if(updatedCategory.listed){
						button.classList.replace("btn-success","btn-danger" );
						button.textContent="Unlist"
					}else{
						button.classList.replace("btn-danger","btn-success");
						button.textContent="List"
					}
				} else {
					console.error("Error on Toggling status", error.message)
				}
			})
		})
	</script>

	<% include('../layouts/footer.ejs') %>