<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SKRYMHEAD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <style>
        #logo {
            margin-right: 5px;
        }

        body {
            background-color: black;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <strong>SKRYMHEAD</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/category">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/coupons">Coupons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/banner">Banner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/admin/logout">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
							<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
						</svg>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-10 pt-5">
                <h1 class="text-white">USERS</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="m-3 mt-5 px-4">
            <table class="table table-bordered table-dark" id="userTable">
                <thead class="table-light" style="font-family: Arial, Helvetica, sans-serif;">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Email</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                    <% users.forEach((user,index)=>{ %>
                        <tr>
                            <th scope="row">
                                <%= index+1 %>
                            </th>
                            <td>
                                <%= user.name %>
                            </td>
                            <td>
                                <%= user.phone %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <% if(user.isBlocked){ %>
                                    <a href="/admin/users/unblock?userid=<%= user._id %>"><button
                                            class="btn btn-success" style="width: 6rem;">Unblock</button></a>
                                    <% }else{ %>
                                        <a href="/admin/users/block?userid=<%= user._id %>"><button
                                                class="btn btn-danger" style="width: 6rem;">block</button></a>
                                        <% } %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>

            </table>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            new DataTable('#userTable', {
                "lengthMenu": [10, 20, 50],
                "pageLength": 10
            });
        });
    </script>

    <% include('../layouts/footer.ejs') %>