<!DOCTYPE html>
<html lang="en">

<head>
	<title>Skrymehad | Checkout</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png" />
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	<!--===============================================================================================-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
	<script src="https://js.stripe.com/v3/"></script>
	<script src="/js/checkout.js" defer></script>

	<!-- ///////////////////////////////////////////////////////////////////////// -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="/css/checkout.css">
	<!--===============================================================================================-->
	<style>
		#addressWrapper {
			padding: 0px 5px;
			max-height: 310px;
			overflow-y: scroll;
		}

		.form-label::before {
			content: '*';
			color: red;
			margin-left: 3px;
		}

		.form-label.optional::before {
			content: none;
		}

		/* Custom scrollbar styles */
		#addressWrapper::-webkit-scrollbar {
			width: 5px;
		}

		#addressWrapper::-webkit-scrollbar-track {
			background: transparent;
		}

		#addressWrapper {
			scroll-behavior: smooth;
		}

		#addressWrapper::-webkit-scrollbar-thumb {
			background: #373535;
			border-radius: 50px;
		}

		#addressWrapper::-webkit-scrollbar-thumb:hover {
			background: #555;
		}

		.bg-good {
			background-color: #F1F2EB;
		}

		#summaryWrapper {
			border: 1px solid black;
		}

		input[type="radio"]:checked {
			background-color: #000;
			border: none;
		}
	</style>
</head>

<body class="animsition">
	<script>
		const eventSource = new EventSource("/sseconnect");

		eventSource.onopen = () => {
			console.log("OPENED");
		}

		eventSource.onmessage = (event) => {
			const eventData = JSON.parse(event.data);

			if(eventData.message==="payment succeeded"){
				swal.fire({
					title: "Order placed successfully!",
					text: `OrderID : #${eventData.orderID}`,
					icon: "success",
					confirmButtonText: "Show My Orders",
					showDenyButton: true,
					denyButtonText: "Go to home",
					allowOutsideClick: false

				}).then((result) => {

					if (result.isConfirmed) {
						window.location.href = "/orders";
					} else if (result.isDenied) {
						window.location.href = "/home";
					}
				});
			}else if(eventData.message==="payment failed"){
				swal.fire({
					title: eventData.message,
					text: `OrderID : #${eventData.orderID}`,
					icon: "error",
					confirmButtonText: "Retry",
					showDenyButton: true,
					denyButtonText: "Go to home",
					allowOutsideClick: false
				}).then((result) => {

					if (result.isConfirmed) {
						swal.close();
					} else if (result.isDenied) {
						window.location.href = "/home";
					}
				});
			}
			console.log(eventData)
		}

		window.addEventListener("unload",()=>{
			eventSource.close();
		})

		eventSource.onerror = (error) =>{
			console.log(error)
		}
	</script>

	<!-- Header -->
	<header>
		<nav class="navbar navbar-expand-lg border-bottom border-black border-5 fixed-top bg-white">
			<div class="container-fluid">
				<a class="m-brand navbar-brand d-flex align-items-center" href="#">
					<svg width="38" height="48" viewBox="0 0 38 48" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M34 1H4L1 5.63571M34 1L37 5.63571L25 24.1786M34 1L22 19.5429M1 5.63571H25L19 14.9071L16 10.2714M1 5.63571L16 28.8143L4 47.3571M1 5.63571L22 38.0857H16H28L10 10.2714M16 10.2714L28 28.8143M16 10.2714L37 42.7214M22 10.2714H10M10 10.2714L22 28.8143M37 42.7214L34 47.3571H4M37 42.7214H13L19 33.45M4 47.3571L1 42.7214L13 24.1786"
							stroke="black" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
					<h1 class="m-2 text-dark koulen">SKRYMHEAD</h1>
				</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse me-5" id="navbarNav">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a class="nav-link" href="/home">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/shop">Shop</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Categories</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact.html">Help center</a>
						</li>
					</ul>
				</div>

				<div class="navbar-text me-5">
					<div class="wrap-icon-header flex-w flex-r-m">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>

						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-account">
							<a href="/profile" style="color:inherit"><i class="zmdi zmdi-account-o"></i></a>
						</div>

						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
							data-notify="<%= cart.items.length %>">
							<a href="/cart"><i class="zmdi zmdi-shopping-cart"></i></a>
						</div>

						<a href="#"
							class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
							data-notify="0">
							<i class="zmdi zmdi-favorite-outline"></i>
						</a>
					</div>
				</div>
			</div>
		</nav>

		<!-- Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>

	</header>

	<!-- Modal -->
	<div class="modal fade" style="backdrop-filter: blur(5px);" id="staticBackdrop" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="mtext-109 text-dark ps-2">ADD & USE ADDRESS</h3>
					<button type="button" id="closeButton" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="addaddress">
						<div class="row">
							<div class="col-md-7 mb-3">
								<div class="form-outline">
									<label class="form-label" for="addressName">Address<small
											class="badge ms-2 bg-danger" id="AN"></small></label>
									<input type="text" id="addressName" name="name" class="form-control" value="">
								</div>
							</div>
						</div>

						<div class="row mb-3">
							<div class="col">
								<div class="form-outline">
									<label class="form-label" for="houseName">House <small class="badge ms-2 bg-danger"
											id="HN"></small></label>
									<input type="text" id="houseName" name="house" class="form-control" value="" />
								</div>
							</div>
							<div class="col">
								<div class="form-outline">
									<label class="form-label" for="streetName">Street<small class="badge ms-2 bg-danger"
											id="SN"></small></label>
									<input type="text" id="streetName" name="street" class="form-control" value="" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-outline mb-3">
									<label class="form-label" for="city">City<small class=" badge ms-2 bg-danger"
											id="C"></small></label>
									<input type="text" id="city" name="city" class="form-control" value="" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-outline mb-3">
									<label class="form-label" for="state">State<small class="badge ms-2 bg-danger"
											id="S"></small></label>
									<select id="state" name="state" class="form-control">
										<option value="" disabled selected>- Select State -</option>
										<option value="Andhra Pradesh">Andhra Pradesh</option>
										<option value="Arunachal Pradesh">Arunachal Pradesh</option>
										<option value="Assam">Assam</option>
										<option value="Bihar">Bihar</option>
										<option value="Chhattisgarh">Chhattisgarh</option>
										<option value="Goa">Goa</option>
										<option value="Gujarat">Gujarat</option>
										<option value="Haryana">Haryana</option>
										<option value="Himachal Pradesh">Himachal Pradesh</option>
										<option value="Jharkhand">Jharkhand</option>
										<option value="Karnataka">Karnataka</option>
										<option value="Kerala">Kerala</option>
										<option value="Madhya Pradesh">Madhya Pradesh</option>
										<option value="Maharashtra">Maharashtra</option>
										<option value="Manipur">Manipur</option>
										<option value="Meghalaya">Meghalaya</option>
										<option value="Mizoram">Mizoram</option>
										<option value="Nagaland">Nagaland</option>
										<option value="Odisha">Odisha</option>
										<option value="Punjab">Punjab</option>
										<option value="Rajasthan">Rajasthan</option>
										<option value="Sikkim">Sikkim</option>
										<option value="Tamil Nadu">Tamil Nadu</option>
										<option value="Telangana">Telangana</option>
										<option value="Tripura">Tripura</option>
										<option value="Uttar Pradesh">Uttar Pradesh</option>
										<option value="Uttarakhand">Uttarakhand</option>
										<option value="West Bengal">West Bengal</option>
										<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
										<option value="Chandigarh">Chandigarh</option>
										<option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
										<option value="Daman and Diu">Daman and Diu</option>
										<option value="Lakshadweep">Lakshadweep</option>
										<option value="Delhi">Delhi</option>
										<option value="Puducherry">Puducherry</option>
									</select>

								</div>
							</div>
						</div>

						<div class="col-md-7">
							<div class="form-outline mb-3">
								<label class="form-label" for="pinCode">Pin-Code<small class="badge ms-2 bg-danger"
										id="PC"></small></label>
								<input type="number" id="pinCode" name="pincode" class="form-control" value="" />
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-outline mb-3">
									<label class="form-label" for="phoneNumber">Phone<small class="badge ms-2 bg-danger"
											id="PN"></small></label>
									<input type="number" id="phoneNumber" name="phone" class="form-control" value="" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-outline mb-3">
									<label class="form-label optional" for="altPhoneNumber">Alt Phone<small
											class="badge ms-2 bg-danger" id="APN"></small></label>
									<input type="number" id="altPhoneNumber" name="altphone" class="form-control"
										value="" />
								</div>
							</div>
						</div>

						<div class="text-end">
							<button id="formSubmit" class="btn btn-dark px-5" type="submit">Submit</button>
							<button class="btn btn-dark px-2" type="reset">Reset</button>
						</div>
					</form>
				</div>
				<script>
					function validate() {
						const addressName = document.getElementById("addressName").value;
						const houseName = document.getElementById("houseName").value;
						const streetName = document.getElementById("streetName").value;
						const city = document.getElementById("city").value;
						const state = document.getElementById("state").value;
						const pinCode = document.getElementById("pinCode").value;
						const phoneNumber = document.getElementById("phoneNumber").value;
						const altPhoneNumber = document.getElementById("altPhoneNumber").value;

						let formOK = true;
						let AddressRegex = /^[0-9A-Za-z\s\.,#-]+$/;
						let numberRegex = /^\d$/;

						if (addressName.length < 3) {
							document.getElementById("AN").textContent = "at least 3 characters";
							formOK = false
						} else if (!addressName.match(AddressRegex)) {
							document.getElementById("AN").textContent = "Only the specified special characters [ . , # - ] allowed."
							formOK = false
						} else {
							document.getElementById("AN").textContent = "";
						}

						if (houseName.length < 3) {
							document.getElementById("HN").textContent = "at least 3 characters";
							formOK = false
						} else if (!houseName.match(AddressRegex)) {
							document.getElementById("HN").textContent = "Only the specified special characters [ . , # - ] allowed."
							formOK = false
						} else {
							document.getElementById("HN").textContent = "";
						}

						if (streetName.length < 3) {
							document.getElementById("SN").textContent = "at least 3 characters";
							formOK = false
						} else if (!streetName.match(AddressRegex)) {
							document.getElementById("SN").textContent = "Only the specified special characters [ . , # - ] allowed."
							formOK = false
						} else {
							document.getElementById("SN").textContent = "";
						}

						if (city.length < 3) {
							document.getElementById("C").textContent = "at least 3 characters";
							formOK = false
						} else if (!city.match(AddressRegex)) {
							document.getElementById("C").textContent = "Only the specified special characters [ . , # - ] allowed."
							formOK = false
						} else {
							document.getElementById("C").textContent = "";
						}

						if (state === '') {
							document.getElementById("S").textContent = "please select one option";
							formOK = false
						} else {
							document.getElementById("S").textContent = "";
						}

						if (pinCode.length !== 6 && !pinCode.match(numberRegex)) {
							document.getElementById("PC").textContent = "Enter a valid 6-digit";
							formOK = false
						} else {
							document.getElementById("PC").textContent = "";
						}

						if (phoneNumber.length !== 10 && !phoneNumber.match(numberRegex)) {
							document.getElementById("PN").textContent = "Enter a valid 10-digit";
							formOK = false
						} else {
							document.getElementById("PN").textContent = "";
						}

						if (altPhoneNumber.length === 0 || altPhoneNumber.length === 10) {
							document.getElementById("APN").textContent = "";
						} else if ((altPhoneNumber.length >= 1 && altPhoneNumber.length < 10) && !altPhoneNumber.match(numberRegex)) {
							document.getElementById("APN").textContent = "Enter a valid 10-digit";
							formOK = false;
						}

						return formOK;
					}
					let addAddress = document.getElementById("addaddress")
					addAddress.addEventListener("submit", function (event) {
						event.preventDefault();

						if (!validate()) {
							return;
						}

						let fromData = new FormData(addAddress)

						fetch("/checkoutaddaddress", {
							method: "POST",
							body: fromData,
						})
							.then(response => {
								return response.json();
							})
							.then(data => {
								if (data.success) {
									let closeButton = document.getElementById("closeButton");
									closeButton.click();

									Toastify({
										text: "address added and selected.",
										duration: 2000,
										gravity: "top",
										position: "center",
										backgroundColor: "#03c03c",
										stopOnFocus: true,
										offset: {
											y: 55
										}
									}).showToast();

									setTimeout(() => {
										update(data.user.addresses);
									}, 2000);
								} else {
									Toastify({
										text: data.message,
										duration: 2000,
										gravity: "top",
										position: "center",
										backgroundColor: "#ff0000",
										stopOnFocus: true,
										offset: {
											y: 55
										}
									}).showToast();
								}
							})
							.catch(error => {
								console.error('Fetch error:', error.message);
							})
					})

				</script>
			</div>
		</div>
	</div>


	<!-- Display a payment form -->
	<div class="modal fade" style="backdrop-filter: blur(5px);" id="stripe-modal" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content rounded-0 border border-2 border-dark bg-good">
				<div class="my-2 d-flex justify-content-between">
					<h1></h1>
					<h3 class="border-bottom border-dark pb-1 align-self-center koulen text-dark">COMPLETE PAYMENT</h3>
					<button type="button" id="closeButton" class="m-2 align-self-end btn-close" data-bs-dismiss="modal"
						aria-label="Close">
					</button>
				</div>
				<div class="modal-body">
					<form id="payment-form" style="border-radius: 0px;">
						<div id="payment-element">
							<!--Stripe.js injects the Payment Element-->
						</div>
						<button id="submit">
							<div class="spinner" id="spinner"></div>
							<span id="button">Pay now</span>
						</button>
						<div id="payment-message" class="hidden"></div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<!-- checkout logic -->
	<div class="container m-t-150">
		<div class="row">
			<div class="col-lg-5 border border-black mb-5 p-0 text-dark bg-good">
				<div>
					<div class="col-md-12 bg-good d-flex justify-content-center align-items-center sticky-top mb-3"
						style="height: 50px;">
						<h5 class="mtext-109 m-0 border-bottom border-black">Addresses</h5>
					</div>
					<div class="m-4" id="addressWrapper">
						<% let lastIndex ; %>
							<% addresses.forEach((address,index)=>{ %>
								<div class="card mb-2">
									<div class="card-body" onclick="selectAddress(<%= index %>)">
										<h5 class="card-title d-flex">
											<input type="radio" class="fw-bold mx-3 form-check-input"
												value="<%= address._id %>" required name="address"
												id="address<%= index %>" <%=index==0 ? 'checked' : '' %> >
											<%= address.address_name %>
										</h5>
										<p class="card-text m-0">
											<%= address.house_name+", "+address.street_address %></p>
										<p class=" card-text m-0">
												<%= address.city+", "+address.state+" , "+address.pincode  %></p>
										<p class=" card-text m-0">Phone: <%= address.phone %>
										</p>
										<p class="card-text m-0">Alt Phone: <%= address.alt_phone %>
										</p>
									</div>
								</div>
								<% lastIndex=index %>
									<% }) %>
					</div>
					<script>
						function selectAddress(index) {
							const radioInput = document.getElementById(`address${index}`);
							if (radioInput) {
								radioInput.click();
							}
						}

						function update(data) {
							let indexx = data.length - 1;
							const newAddress = data[indexx];

							const newAddressCard = document.createElement("div");
							newAddressCard.classList.add("card", "mb-2");

							newAddressCard.innerHTML = `<div class="card-body" onclick="selectAddress(${indexx})">
        													<h5 class="card-title d-flex">
																<input type="radio" class="fw-bold mx-3 form-check-input"
																	value="${newAddress._id}" required name="address" id="address${indexx}" >
																	${newAddress.address_name}
															</h5>
															<p class="card-text m-0">
																${newAddress.house_name}, ${newAddress.street_address}
															</p>
															<p class="card-text m-0">
																${newAddress.city}, ${newAddress.state} , ${newAddress.pincode}
															</p>
															<p class="card-text m-0">Phone: ${newAddress.phone}</p>
															<p class="card-text m-0">Alt Phone: ${newAddress.alt_phone === null ? "" : newAddress.alt_phone}</p>
														</div>`;

							const addressWrapper = document.getElementById("addressWrapper");
							addressWrapper.appendChild(newAddressCard);
							document.querySelector(`input[id='address${indexx}']`).checked = true;
						}
					</script>
				</div>

				<!-- Button trigger modal -->
				<div class="d-flex justify-content-end mx-4">
					<button type="button"
						class="btn btn-dark rounded-pill text-white mtext-102 px-4 me-2 my-4 align-self-end"
						data-bs-toggle="modal" data-bs-target="#staticBackdrop">
						ADD & USE ADDRESS
					</button>
				</div>
			</div>



			<div class="col-lg-7 m-lr-auto m-b-50" id="summary">
				<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm" id="summaryWrapper">
					<h4 class="mtext-109 cl2 p-b-30">
						Order summary
					</h4>
					<div class="">
						<table class="table table-borderless">
							<thead class="mtext-106 border-bottom ">
								<tr>
									<th class="text-center" colspan="2">Item</th>
									<th>Quantity</th>
									<th>Subtotal</th>
								</tr>
							</thead>
							<tbody class="">
								<% cart.items.forEach((item,index)=>{ %>
									<tr>
										<% let subtotal=item.variant_id.price * item.quantity; %>
											<td><img height="50px"
													src="/products/<%= item.product_id.brand+' '+item.product_id.model +'/'+ item.product_id.images[0].url %>"
													id="image<%= index %>"></td>
											<td id='name<%= index %>'>
												<%= item.product_id.brand+" "+item.product_id.model %></td>
									<td class=" text-center" id='quantity<%= index %>'>
													<%= item.quantity %>
											</td>
											<td class="subtotal" id='subtotal<%= index %>'>
												<i class="bi bi-currency-rupee" style="font-size: small;"></i>
												<%= subtotal %>
											</td>
									</tr>
									<% }) %>
							</tbody>
						</table>
					</div>
					<div class="flex-w flex-t bor12 p-all-13 border-top border-black">
						<div class="size-half text-end">
							<span class="stext-110 cl2">
								Total:
							</span>
						</div>

						<div class="size-203 ms-5">
							<span class="d-flex">
								<i class="bi bi-currency-rupee ms-1" style="font-size: medium;"></i>
								<h3 class="fw-bold mtext-108 text-dark" id="grandtotal"></h3>
							</span>
						</div>
						<script>
							let grandTotal = document.getElementById("grandtotal");
							let subtotals = document.querySelectorAll(".subtotal");
							let subtotalValues = Array.from(subtotals).map(subtotal => parseFloat(subtotal.textContent));

							let TOTAL = subtotalValues.reduce((a, b) => a + b);
							grandTotal.textContent = TOTAL;
						</script>
					</div>


					<div class="d-flex justify-content-center my-3">
						<button class="btn btn-dark mtext-109 py-2 px-5 rounded-pill btn-lg" type="button"
							onclick="placeOrder()">
							Place Order
						</button>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-3 border border-black mb-5 bg-good">
				<div id="payment wrapper p-3">
					<div class="d-flex justify-content-center" id="payment">
						<h5 class="m-3 pb-2 border-bottom border-black mtext-109 text-dark text-center">Payment Methods
						</h5>
					</div>
					<div class="d-flex justify-content-start ms-3">
						<div class="d-flex form-check my-3">
							<input class="form-check-input" type="radio" id="COD" required value="COD"
								name="paymentoptions">
							<label class="ms-2 form-check-label" for="COD">COD</label>
						</div>
					</div>
					<div class="d-flex justify-content-start ms-3">
						<div class="d-flex form-check my-3">
							<input class="form-check-input" type="radio" id="STRIPE" required value="STRIPE"
								name="paymentoptions">
							<label class="ms-2 form-check-label" for="STRIPE">Stripe<i
									class="ms-2 bi bi-stripe"></i></label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		async function placeOrder() {
			const address = document.querySelector('input[name="address"]:checked');
			const paymentOption = document.querySelector('input[name="paymentoptions"]:checked');
			const addressSelected = document.querySelector("input[name='address']:checked");

			function validateAddress() {
				if (!address) {
					Toastify({
						text: "Select an address",
						duration: 3000,
						gravity: "top",
						position: "right",
						backgroundColor: "#fff",
						stopOnFocus: true,
						style: {
							color: "#000000",
							border: "2px solid #ff6347",
							margin: "80px 30px",
						}
					}).showToast();
					return false;
				} else {
					return true;
				}
			}


			function validatePayment() {
				if (!paymentOption) {
					Toastify({
						text: "Select a payment Method",
						duration: 3000,
						gravity: "top",
						position: "right",
						backgroundColor: "#fff",
						stopOnFocus: true,
						style: {
							color: "#000000",
							border: "2px solid #ff6347",
							margin: "80px 30px",
						}
					}).showToast();

					return false;
				} else {
					return true;
				}
			}
			if (!validateAddress()) return false;
			if (!validatePayment()) return false;

			let response;

			try {

				if (paymentOption.value === "COD") {

					response = await fetch("/order", {
						method: "PUT",
						headers: {
							"Content-Type": "application/json"
						},
						body: JSON.stringify({
							addressName: address.value,
							payment: paymentOption.value,
							address: addressSelected.value
						})
					});
			
					if (response.ok) {
						const data = await response.json();

						if (data.success) {
							swal.fire({
								title: "Order placed successfully!",
								text: `OrderID : #${data.orderId}`,
								icon: "success",
								confirmButtonText: "Show My Orders",
								showDenyButton: true,
								denyButtonText: "Go to home",
								allowOutsideClick: false
							}).then((result) => {
								if (result.isConfirmed) {
									window.location.href = "/orders";
								} else if (result.isDenied) {
									window.location.href = "/home";
								}
							});
						} else {
							swal.fire({
								title: "Order Unsuccessful!",
								text: "Please retry",
								icon: "error",
								confirmButtonText: "OK"
							});
						}
					} else {
						throw new Error("Order placement failed");
					}
			
				} else { //for online payment

					let newOrderId ;
					fetch("/create-online-order",{
						method:"POST",
						headers:{
							"Content-Type":"application/json",
						},
						body: JSON.stringify({
							addressName: address.value,
							payment: paymentOption.value,
							address: addressSelected.value
						})
					})
					.then(response=>{
						if(response.ok){
							return response.json();
						}else{
							throw new Error(`server responded with status ${response.status}`);
						}
					})
					.then(data=>{
						if(data.success){
							newOrderId = data.orderId;
							initialize(newOrderId);
						}else{
							throw new Error("Failed to create a new Order!");
						}
					})
					.catch(error=>{
						console.log(error)
					})
				}

			} catch (error) {
				console.log(error.message);
			}

		}
	</script>


	<!-- /////////////////////////////////Footer /////////////////////////// -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Women
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Men
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shoes
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Watches
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us
						on (+1) 96 716 6879
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
								placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i
						class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
						target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com"
						target="_blank">ThemeWagon</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>

</html>